.filtersarea {
  min-width: 300px;
  height: 100vh;
  border: 1px solid lightgrey;
  position: absolute;
  left: 0;
  margin: 25px 10px 0px 20px;
}
.heading {
  width: 100%;
  padding: 5px;
  /* background-color: blue; */
}

.collapsible .content {
  padding: 6px;
  background-color: #eeeeee;
}
.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}
.button__filter {
  border: none;
  color: #fff;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  padding: 3.5px 5px;
  background: #0f8f9d;
  min-width: 124px;
  transition: all 0.2s;
  margin: 20px;
}
.filtersarea_list li {
  padding: none;
  margin: none;
}
.filtersarea_list-item {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.filtersarea_list-item label {
  margin-left: 5px;
}
