.individualcard {
  max-height: 333px;
  min-width: 220px;
  max-width: 220px;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 8px;
  z-index: -1;
}
.individualcard__padding {
  padding: 8px;
}
.individualcard__img {
  display: flex;
  justify-content: center;
  object-fit: fill;
  width: 100%;
}
.individualcard__img img {
  max-height: 150px;
  width: 100%;
}
.individualcard__name p {
  padding: 5px;
}
.individualcard__price p {
  padding: 5px;
}
.individualcard__actions {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border-top: 1px solid lightgray;
  height: 40px;
  bottom: 0;
}
.individualcard__actions_atc {
  display: flex;
  justify-content: space-around;
  padding: 7px;
}
.individualcard__actions_atc img {
  height: 25px;
  width: 25px;
}
.individualcard__actions_fav {
  display: flex;
  justify-content: space-around;
  padding: 7px;
}
.individualcard__actions_fav img {
  height: 25px;
  width: 25px;
}
.individualcard__actions_fav {
  width: 30%;
  height: 40px;
  border-right: 2px solid lightgray;
}
